@page "/estudiantes"

@using Data.models

<PageTitle>Estudiantes</PageTitle>
<div style="border: solid 1px #ddd; background-color: GhostWhite; border-radius: 5px; padding: 13px;">
    <h3>Estudiantes</h3>
<div class="mb-3 row">
    <div class="col-6">
        <label for="txtNombres">Nombres: </label>
        <input @bind="@Nombres" placeholder="Escriba su nombre" class="form-control" type="text" name="txtNombres" id="txtNombres" >
    </div> 
    <div class="col-6">
        <label for="txtApellido">Apellidos: </label>
        <input @bind="@Apellidos" placeholder="Escriba su apellido" class="form-control" type="text" name="txtApellido" id="txtApellido">
    </div> 
</div>
<div class="row mb-3">
    <label for="txtFN">Fecha de nacimiento: </label>
    <input @bind="@FechaNacimiento" class="form-control @FechaNacIsValid()" type="date" name="txtFN" id="txtFN" maxlength="9" style="margin-left: 10px;">
</div>
<div class="mb-3 row">
    <div class="col-4">
        <label for="txtMatricula">Matrícula: </label>
        <input @bind="@Matricula" placeholder="2019-1485" class="form-control" type="text" name="txtMatricula" id="txtMatricula" maxlength="9">
    </div>
    <div class="col-8">
        <label for="cbCarreras">Carrera: </label>
        <select class="form-select" @bind="CarreraId" name="cbCarreras" id="cbCarreras">
            @foreach (var carrera in Carreras)
            {
                <option value="@carrera.Id">@carrera.Nombre</option>
            }
        </select>
    </div>
</div>

<div class="mb-3 row">
    <div class="btn-group">
        <button @onclick="Agregar" type="button" class="btn btn-success">Agregar</button>
        <button type="button" class="btn btn-warning">Limpiar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
    </div>
</div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Matricula</th>
                <th>Carrera</th>
                <th>Fecha Nacimiento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var estudiante in Estudiantes)
            {
                <tr>
                    <th>@estudiante.NombreCompleto</th>
                    <th>@estudiante.Matricula</th>
                    <th>@estudiante.Carrera!.Nombre</th>
                    <th>@estudiante.FechaNacimiento.ToString("dd/MM/yyyy")</th>
                </tr>
            }
        </tbody>
        <tfoot></tfoot>
    </table>
</div>


@code{
    public int EstudianteID  {get; set;}
    public string Nombres  {get; set;} = null!;
    public string Apellidos  {get; set;}= null!;
    public DateTime FechaNacimiento   {get; set;}
    public string Matricula {get; set;}= null!;
    public int CarreraId {get; set;}
    public List<Carrera> Carreras { get; set; } = null!;
    public List<Estudiante> Estudiantes { get; set; } = null!;

        protected override Task OnInitializedAsync()
        {
            Estudiantes = new List<Estudiante>();
            Carreras = new List<Carrera>()
                {
                    new Carrera(){ Id =1, Nombre = "Informática" },
                    new Carrera(){ Id =2, Nombre = "Derecho" },
                    new Carrera(){ Id =3, Nombre = "Biologia y Quimica" },
                    new Carrera(){ Id =4, Nombre = "Contabilidad" },
                };
            return base.OnInitializedAsync();
        }
    Carrera BuscarCarrera(){
        return Carreras.FirstOrDefault(c=>c.Id == CarreraId)!;
    } 
    private void Agregar(){
        Estudiantes.Add(new Estudiante(){
            EstudianteID = 0,
            Nombres = Nombres,
            Apellidos = Apellidos,
            Matricula = Matricula,
            FechaNacimiento = FechaNacimiento,
            Carrera = BuscarCarrera(),
            CarreraId = CarreraId
            });
    }

    private string FechaNacIsValid() =>  FechaNacimiento>DateTime.Now ? "is-invalid":"";
}